*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
body {

    text-transform: uppercase;
}
.container{
    background-color: rgb(68,119,211);
    width: 500px;
    padding: 40px 20px;
    border-radius: 40px;
    margin: 50px auto;
    grid-row-gap: 13px;
    grid-column-gap: 15px;
    justify-content: center;

    display: grid;
    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(4, 100px);
}
.result{
    border: none;
    outline: none;
    background-color: lightblue;
    text-align: right;
    padding: 25px 25px;
    display: grid;
    grid-column: 1/ span 4;
    
}

.btn {
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    &__del{
        grid-column: 1/span 2;
    }
    &__null{
        grid-column: 1/span 2;
    }
    &__one,
    &__two,
    &__three,
    &__four,
    &__five,
    &__six,
    &__seven,
    &__eight,
    &__nine,
    &__null {
        background-color: #fff;
    }
    &__del,
    &__pers,
    &__multiply,
    &__divide,
    &__dot,
    &__equally,
    &__plus,
    &__minus {
        background-color: rgb(172, 168, 168);
        border: 2px solid rgb(150, 149, 149); 
    }
}